<div class="container">
	<div class="row-fluid">
		<%= form_for @post do |f| %>
		<div class="row-fluid">
			<div class="row-fluid">
				<!-- <%= f.label :title, class:"col-xs-2 col-xs-offset-3" %> -->
				<%= f.label :title, class:"col-xs-12 col-xs-offset-0" %>
			</div>
			<div class="row-fluid">
				<!-- <%= f.text_field :title, :id => 'create_post_input', class: "col-xs-6 col-xs-offset-3" %> -->
				<%= f.text_field :title, :id => 'create_post_input', class: "col-xs-8 col-xs-offset-0" %>
			</div>
		</div>

		<div class="row-fluid">
			<div class="row-fluid">
				<!-- <%= f.label :content, class:"col-xs-2 col-xs-offset-3" %> -->
				<%= f.label :content, class:"col-xs-12 col-xs-offset-0" %>
			</div>
			<div class="row-fluid">
				<!-- <%= f.text_area :content, :id => 'create_post_input',class: "col-xs-6 col-xs-offset-3" %> -->
				<%= f.text_area :content, :id => 'create_post_input',class: "col-xs-8 col-xs-offset-0" %>
			</div>
			<br>
<!-- 		  <%= f.text_field :title, :id => 'create_post_input' %>
-->		  
<!-- <%= f.hidden_field :url, :id => 'create_post_input' %> -->
</div>
</div>
<div class="row-fluid"></div>
<div class="row-fluid">
<div class="col-xs-8" style="margin-top:30px;">
	
		<div class="col-md-4">
				<input type="filepicker" name="post[url]" data-fp-apikey="AMhKGKdexSpC0WsOfZNejz" onchange="$(this).attr('value',event.fpfile.url)">
			</div>
			<div class="col-md-4">
				<%= f.submit "Submit Post", :id => 'create_post_submit', :class => 'btn btn-style'%>

			</div>
			<div class="col-md-4">
				<%= f.submit "cancel", :id => 'create_post_cancel', :class => 'btn btn-style' %>
			</div>
			<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
		</div>
	</div>
</div>
</div>
<% end %>


