<div class="fade"></div>
<div class="container">
	<h1>Posts by you and your friends</h1>
	<%= link_to 'new post', new_post_path, class: 'btn btn-default f-right' %>
	<% 
console
	%>
	<% if @posts %>
	<% @posts.each do |x| %>

	<div class="post-container">
		<div class="row-fluid">
			<h3 class="col-xs-4 pic-title">
				<%= x.title %>		
			</h3>
			<img src="<%= x.url%>" class="uploaded">


		</div>
		<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= x.latitude %>,<%= x.longitude %>&zoom=16&size=300x150&maptype=roadmap&markers=color:red%7Clabel:C%7C<%= x.latitude %>,<%= x.longitude %>&key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U">

		<div class="row-fluid" style="width:100%;display:inline-flex;">

			<%= link_to 'edit post',edit_post_path(x.id), class: "btn btn-gzn f-l" %>

			<%= link_to 'delete post',posts_delete_path(x.id), class: "btn btn-gzn f-r" %>
		</div>

<div class="col-xs-12">
	
		<%= x.content%>		
</div>
	</div>
	<% end %>
<% end %>	
</div>
