<div class="container">
	<% if @post %>
	<h3>Currently Viewing post by <%= User.find(@post.user_id).email%><%= link_to 'new post', new_post_path, class: 'btn btn-default f-right' %> </h3>

	<div class="post-container">
		<div class="row-fluid">

		<div class="row-fluid" style="width:100%;display:inline-flex; margin-top:30px;">
			<div class="col-xs-12 col-md-8" style="padding-left:0px;">
			<p class="col-md-12">
				<%if @post.title.nil? %>		
				Untitled Post
				<% else %>
			<%= @post.title %>
				<% end %>
			</p>
				<img src="<%= @post.url%>" class="uploaded">
			</div>
			<div class="col-xs-12 col-md-4" style="padding:0px;">
				
			<p> Image uploaded at: </p>

			<div id="map" style="height:calc(100% - 30px)"></div>

		<!-- <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @post.latitude %>,<%= @post.longitude %>&zoom=16&size=578x220&maptype=roadmap&markers=color:red%7Clabel:C%7C<%= @post.latitude %>,<%= @post.longitude %>&key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U"> -->
			</div>

			</div>
		</div>

		<div class="row-fluid" style="width:100%;display:inline-flex; margin-top:30px;">

<div class="col-md-2" style="padding-left:0px;">
	
			<%= link_to 'edit post',edit_post_path(@post.id), class: "btn f-l" %>
</div>
<div class="col-md-3 col-md-offset-7" style="padding-right:0px;">
<% if @post.user_id == current_user.id %>
			<%= link_to 'delete post',posts_delete_path(@post.id), class: "btn f-r", method: :delete%>
			<% end %>
</div>

		</div>

<div class="col-xs-12">
	
		<%= @post.content%>		
</div>
	</div>

		<div class="row-fluid" style="width:100%;display:inline-flex; margin-top:30px;">
<div class="col-md-6" style="padding-left:0px;">
<a href="/posts" class="btn f-l"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .map-container{

        height:500px;
      }
      #map {
        height: 100%;
      }
    </style>

<script>


var image = '/img/m.png';
  $.post( "https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U", function( geo ) {
       var styles = [{"featureType":"administrative.locality","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#AFFFA0"}]},{"featureType":"poi","elementType":"all","stylers":[{"color":"#EAFFE5"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"color":"#59A499"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#F0FF8D"},{"weight":2.2}]},{"featureType":"water","elementType":"all","stylers":[{"visibility":"on"},{"color":"#1A87D6"}]}];
  var styledMap = new google.maps.StyledMapType(styles,
    {name: "Styled Map"});
    var long = geo.location.lng;var lat = geo.location.lat;
  var mapOptions = {
    zoom: 16,
    center: new google.maps.LatLng(geo.location.lat,geo.location.lng),
    mapTypeControlOptions: {
      mapTypeIds: ['roadmap', 'map_style']
    }
  };
  var map = new google.maps.Map(document.getElementById('map'),
    mapOptions);
      map.mapTypes.set('map_style', styledMap);
      map.setMapTypeId('map_style');

        var beachMarker = new google.maps.Marker({
          position: {lat: geo.location.lat, lng: geo.location.lng},
          map: map,
          icon: image
        });
  });


    </script>
</div>
</div>
</div>



<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>}
        });

        var image = '/img/m.png';
        var beachMarker = new google.maps.Marker({
          position: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
          map: map,
          icon: image
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMIc7OAUicwD3-NJJ0wFmcxLlXD8B_Y5U">
    </script> 
       <% end %>	
